body {
	width: 100vw;
	overflow-x: hidden;
}
.banner {
	background: #222;
	height: 6%;
}

.banner .socialmedia {
	float: left;
	margin-top: 1.5%;
}

.banner .socialmedia img {
	width: 1.25em;
}

.banner .socialmedia li {
	display: inline-block;
	list-style: none;
}

.searchbar {
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	float: right;
	margin-right: 2%;
}

.searchbar input {
	border: none;
	height: 1.25em;
	padding-left: .5%;
	font-weight: 300;
	font-size: .9em;
	box-shadow: none;
	padding: .2em 0 .2em .5em;
}

.searchbar button {
	border: none;
	background: #eee;
	height: 1.45em;
	width: 1.45em;
	box-shadow: none;
	position: relative;
}

.searchbar button img {
	width: 1em;
	vertical-align: middle


}

.footnav {
	width: 50%;
	display: inline-block;
	padding-top: 1.5%;
}

nav.footnav a {
	padding: 1.5% 2%;
}


.icons li {
	display: inline-block;
	list-style: none;
}

.icons li img{
	width: 1.25em;
}

/*---- Searchbar -----*/
.search-container{
  width: 15%;
  display: inline-block;
  margin: 1.3% 12% 0 0;
  padding-bottom: 0;
  float: right;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 1.75em;
  padding: 0 1em;
  font-size: .8em;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 25%;
  top: -40px;
  right: -40px;
}




.title {
	width: 100%;
	display: block;
	text-align: center;
	margin-top: 2%;
}

.title h2 {
	font-size: 1.25em;
	padding: .25em 0;
	margin: 0;
	color: #000;
}

.title svg {
	width: 4em;
	display: block;
	margin: 0 auto 2% auto;
}


a {
	text-decoration: none;
}



a.button {
	background: #444;
	color: white;
	float: right;
	padding: .5em .75em;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	margin: 0 1% 0 0;
	font-size: .8em;
}

a.button:hover {
	background: #ccc;
	color: black;
}

h1 {
	text-align: left;
	font-size: 3.8em;
	padding: 0 0 0 0%;
	font-family: 'proxima nova' ;
	letter-spacing: .05em;
	font-weight: 700;
	color: #fff;
	margin-top: -1em;
	margin-left: 10%;
	text-transform: uppercase;
}

.landing h2 {
	font-family: 'proxima nova' ;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 1em;
	padding: .25em 0;
	margin: 0;
	text-align: left;
	margin: -1% 0 0 10%;
	color: #fff;
}

h2 {
	font-family: 'proxima nova' ;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 1em;
	padding: .25em 0;
	margin: 0;
	text-align: left;
	margin: -1% 0 0 10%;
	color: #fff;
}

h4 {
	text-align: center;
	font-size: 1em;
	font-weight: 400;
	color: #000;
	padding: 0;
	margin: 0;
	font-family: 'proxima nova' ;
}

h5 {
	text-align: center;
	font-size: .9em;
	font-weight: 700;
	color: #822F30;
	padding: 0;
	margin: 0;
}


.landing {
    height: 100vh;
    width: 100%;
    display: block;
    margin: 0 auto 0 auto;
    background: url(../img/homebanner.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    text-align: center;
    position: relative;
}

.landing h1:first-of-type {
	margin-top: 10%;
}

.landing h2 {
	margin-top: -4%;
}

.landing p {
	color: #fff;
	font-family: 'proxima nova' ;
	font-weight: 300;
	width: 40%;
	margin: 5% auto 0 10%;
	text-align: left;
	text-shadow: 0 0px 7px rgba(0, 0, 0, 0.4);
}

a.shopnow {
	color: black;
	background: #fff;
	text-transform: uppercase;
	padding: .5em 2em;
	font-family: 'proxima nova' ;
	font-weight: 300;
	width: 8%;
	display: block;
	margin: 3% auto 0 10%;
	text-align: center;
}

a.shopnow:hover {
	color: white;
	background: rgba(255,255,255,.8);
	
}

.featured,
.updates {
	width: 80%;
	display: block;
	margin: 0 10%;
}

.updates {
	margin-top: 5%;
}

.featured img {
	width: 97%;
	display: block;
	margin: 3% 0;
}

.featured section {
	margin-bottom: 5%;
}

.collections section:nth-child(3) {
	margin-bottom: 0;
}

.collections section:nth-child(4) {
	margin-top: -1.2%;
}

.collections section {
	position: relative;
}

.collections section img {
	-webkit-filter: grayscale(40%);
}

.collections section img:hover {
	-webkit-filter: grayscale(90%);
}

.collections section a .caption {
	width: 100%;
	position: absolute;
	top:45%;
	left: 50%;
	margin-left: -50%;
}

.caption h4 {
	color: white;
	font-size: 2em;
	text-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
	font-weight: 700;
}

.caption h3 {
	text-align: center;
	margin-top: 0;
	color: white;
	font-size: 1.5em;
	font-weight: 300;
	text-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
}

.offer {
	background: #E3AE57;
	margin: 0% 10% 0 0;
}

.offers img {
	width: 97%;
	margin-top: -1.25%;
}


.latestblog .fifty-fifty {
	width: 48%;
	margin: 0 1%;
}

.fifty-fifty img {
	width: 100%;
	margin-right: 6%;
}

.fifty-fifty p {
	width: 94%;
}
.latestblog h4 {
	text-align: left;
	padding-top: 2%;
	font-weight: 700;
}

.latestblog p {
	text-align: left;
	padding-top: 0%;
	font-weight: 300;
}

.footer {
	text-align: center;
	font-weight: 300;
	color: gray;
	margin-top: 8%;
	background: #222;
}

.footer h6 {
	padding: 1%;
	margin: 0;
	font-size: .5em;
	font-weight: 300;
}

.mobile {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  background: #444;
}
.mobile div {
  display: none;
  margin: 2% 0;
}
.mobile button {
  position: absolute;
  top: 20px;
  left: 20px;
  border: 0;
  text-indent: 200%;
  overflow: hidden;
  background: rgb(255,255,255) url("http://i.imgur.com/vKRaKDX.png") center no-repeat;
  border-radius: none;
  background-size: 80%;
  width: 30px;
  height: 30px;
  outline: none;
  -webkit-transition: all 400ms ease;
          transition: all 400ms ease;
}
.mobile button.expanded {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: transparent;
  border: 0;
}
.mobile a {
  display: block;
}
a {
  padding: .5em 0;
  text-decoration: none;
  color: #444;

}

.desktop {
  display: inline-block;
}
.desktop a {
  float: left;
}


.nav {

	padding: 1.75% 2.5% 1.25% 2.5%;
}

.nav a:first-of-type img {
	width: 15em;
	float: left;
}

 .nav .desktop {
 	float: left;
 	padding: .75% 0 0 1%;
 }

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: .7em;
  padding: 0 .5em;

}

.nav a:hover {
	color: gray;
	
}


.cart {
	float: right;
	margin: 0 5% 0 0;
	width: 2em;
}
.cart img  {
	width: 3em;
}


@media screen and (max-width: 768px) { 

	.nav {
		background: #222;
		height: 8%;
	}

	.mobile {
    display: block;
        margin-left: -2.5%;
  }
  .desktop {
    display: none;
  }


.banner .socialmedia,
.banner .searchbar {
	width: 50%;
	margin: 2% auto;
}

.banner .searchbar {
	margin-top: -10%;
}

.banner .socialmedia {
	margin-left: -15%;
}

.banner .footnav {
	width: 100%;
}

	
	#desktopnav {
		visibility: hidden;
		width: 0;
		height: 0;
	}

	.latestblog p {
		max-height: 10em;
		overflow: hidden;
	}


	button#mobilemenu {
		visibility: visible;
		height: 2em;
		width: 2em;
		position: absolute;
		top: 3%;
		left: 2%;
		background: rgb(255,255,255) url('https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png');
	}


	#mobilenav {
		visibility: visible;
		opacity: 0;
	}

	.cart {
		position: absolute;
		top: 2%;
		right: 1%;
	}

	.nav a:first-of-type img {
	position: absolute;
	top: 2.75%;
	left: 35%;
}

	.collections section:last-of-type {
		width: 100%;
	}

	.newproduct section {
		width: 49%;
	}

	a.shopnow {
		width: 20%;
	}

	.search-container {
		visibility: hidden;
	}

	h1 {
		font-size: 3em;
	}

	.landing h1:first-of-type {
    margin-top: 30%;
}

	.landing p {
		width: 80%;
	}

	.updates section{
	width: 100%;
	}

	.updates section:nth-child(2) {
		width: 50%;
	}
}


@media screen and (max-width: 480px) { 

	.banner .searchbar {
	margin-top: -12%;
}

	.nav a:first-of-type img {
	position: absolute;
	top: 2.75%;
	left: 30%;
}

	.offers img {
		width: 100%;
	}
	.newproduct section {
		width: 100%;
	}

	.latestblog .fifty-fifty {
		width: 200%;
		margin-bottom: 5%;
	}

	h1 {
		font-size: 2.5em;
	}

	a.shopnow {
		width: 40%;
	}
}

/*CLEARFIX*/
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}

